@media only screen and (max-width: 576px) {
    #exampleDataList{
      position: relative;
        top: 30%; 
}
#acc{
    position: relative;
    top: -50%; 
}
#log{
    position: relative;
    top: -50%; 
}
#ico{
    position: relative;
    top: 17%;
    left: 50%;
}

}
@media only screen and (min-width: 576px) {
    /* Small devices (landscape phones) */
    #exampleDataList{
        position: relative;
        top: 30%;
    }
   
    
}
@media only screen and (min-width: 576px)and (max-width: 800px) {
    #acc{
        position: relative;
        top: -60%;  
    }
    #log{
        position: relative;
        top: -60%; 
    }

}


